<!DOCTYPE html>
<html>
<head>
	

<link rel='stylesheet' href='style.css' />
</head>
<body>

	<title> Heroku Flask App Demo </title>
	<style>


h1   {color: navy;}
</style>

	<div>
	<center> <h1> Hello there! :) </h1> </center>
	<p>
		<!-- This is a bare bones flask app.  -->
		<!-- All we're doing here is showing how to use Flask --> 
		<!-- to share working demos of our scikit-learn models online. -->
	</p>

<center> <a href="/predict"> Tell me about your customer. I will show you the likelihood of his/her subscription behaviour.</a> </center>

</div>
<!-- <img src="/static/images/iris_coefs.png" alt="My charts" > -->

</body>
</html>
